* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #383838;
    height: 100vh;
  }
  header .title{
    background: url("/img/FR_Manual_v1.1-009_preview_rev_1.png") center/cover;
    margin: 10px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    height: 100px;
  }
  header h1{
    padding: 20px;
    border: 1px transparent solid;
    border-radius: 10px;
    background: rebeccapurple;
    box-shadow: 7px 5px 0 #dede57;
  }
  header h2{
    font-size: 2rem rem;
    letter-spacing: 2px;
color: #f7f797;
margin-bottom: 25px;
text-align: center;
-webkit-text-stroke: 1px black
  }
  header span{
    color: whitesmoke;
  }
  .content{
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid transparent;
    background: url("./img/content.png") center/cover;
  }
footer{
    margin-top: 60px;
    margin-bottom: 2px;
    font-size: 0.7rem;
}



/********** side bar *************/

#side-bar {
    position: absolute;
    width: 100vh;
    height: 100%;
    background: transparent;
    top: 0;
    left: -231px;
    transition: 0.5s ease-out;
    z-index: 4;
  }
  .toggle-btn {
    position: absolute;
    top: 15px;
    left: 240px;
    cursor: pointer;
  }
  #side-bar.active .toggle-btn {
    position: absolute;
    top: 15px;
    left: 279px;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
  .toggle-btn span {
 
    width: 28px;
    height: 4px;
    border-radius: 5px;
    background: #fbcf09;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
  }
  ul{
    padding-left: 20px;
    width: 90px;
  }
  li {
    color: whitesmoke;
    list-style: none;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 5px;
    margin-top: 40px;
  }
  li:hover {
    background: #ca2c2cad;
    color: #fcfcfb;
  }
  #side-bar.active{
    left: 0;
    background: rgb(83, 83, 82) ;
  }
  
  .active span{
    position: absolute;
  }
  .active span:nth-child(1){
  transform:rotate(45deg);
  background: red;
  }
  .active span:nth-child(2){
    opacity: 0;
  }
  .active span:nth-child(3){
    transform: rotate(-45deg);
    background: red;
  }
  /* si active sorti alors content ... */
  .active ~ .content{
  opacity: 0.3;
  }